:root {
    --primary-color: #302AE6;
    --primary-color-font: #fff;
    --secondary-color: #FCCE5D;
    --font-color: #424242;
    --bg-color: #fff;
    --bg-header-color:#03989E;
    --bg-button-color:#151520;
   
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --primary-color-font: #161620;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --bg-button-color:rgba(000, 000, 88, 0.8);
    
}   
    
    body{
        background-color:var(--bg-color) ;
    }
    .carousel_titulo {
        color: #477890;
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    
    #Contitulo {
        font-weight: 500;
        border-bottom: 2px solid white;
        color: #477890;
        margin-bottom: 20px;
        padding-left: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #artigo {
        margin-top: 10px;
        border-radius: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        background-color: #477890;
        padding: 10px;
        color: white;
        text-align: center;
    }
    
    #artigo span {
        font-weight: 500;
    }
    
    #artigo span:hover {
        font-weight: 700;
    }

    #myCarousel img{

        width: 900px;
        height: 500px;
    }

    .carousel-inner{
        width: 50%;
        margin: auto;
    }

    #myCarousel{
        width: 100%;
        height: 15%;
        align-items: center;
    }