/* Estilo da Página Fale Conosco*/

.bdy {
    height: 100vh;
}

.body-cont {
    background-image:url(../img/bgdtech-01.png);
    background-attachment: fixed; 
    background-color: #000000;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mensagens {
   
background-color: #03989E;
border: solid 2px #FCCE5D;
border-radius: 5px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.56);
color: white;
font-family: 'Montserrat', sans-serif;
margin-top: 10%;
margin-bottom: 5%;
padding: 20px;

}

.mensagens button {
    font-weight: bold;
    margin-top: 10px;
}



@media only screen and (max-width: 750px) {

    .mensagens {
        margin-top: 120px;
    }
}