:root {
    --primary-color: #302AE6;
    --secondary-color:  #FCCE5D;
    --font-color: #000000;
    --bg-color: #fff;
    --bg-header-color:#03989E;
    
    --bg-form:#03989E;
    --bg-shadow:#fff;
    --font-color-neon: #151520;
    --bg-shadow:white;


    --font-shadow-box_1:white;
    --font-shadow-box_2:white;
    --font-shadow-box_3: white;
    --font-shadow-box_4: white;
    --font-shadow-box_5:white;
    --font-shadow-box_6: white;

    --font-shadow-box_7:white;
    --font-shadow-box_8:white;
    --font-shadow-box_9: white;
    --font-shadow-box_10: white;
    --font-shadow-box_11:white;
    --font-shadow-box_12: white;


   
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color:#1a1a1a;
    --font-color-neon: #c6e2ff;
    --bg-form:#151520;
    --bg-shadow:red;

    --font-shadow-box_1:rgba(231, 24, 55, 0.92);
    --font-shadow-box_2:rgba(231,25,55,0.34);
     --font-shadow-box_3: rgba(255,0,37,0.52);
     --font-shadow-box_4: rgba(255,132,242,0.92);
     --font-shadow-box_5:rgba(255,0,37,0.78);
     --font-shadow-box_6: rgba(255,0,37,0.92);

    --font-shadow-box_7:rgba(231,24,55,0.98);
     --font-shadow-box_8:rgba(231,25,55,0.42);
     --font-shadow-box_9: rgba(255,0,37,0.58);
     --font-shadow-box_10: rgba(255,132,242,0.84);
     --font-shadow-box_11:rgba(255,0,37,0.88);
     --font-shadow-box_12:rgba(255,0,37,1);

    
}

#contatos {
    
    display: flex;
    justify-content: space-around;
   
}

.contato {
    display:flex;
    font-size: 20px;
    align-content: center;
    font-weight: 500;
    color: var(--font-color-neon);
    animation: neon .08s ease-in-out infinite alternate;
    
    
}

.contato img {
    width: 30px;
    height: 30px;
}

.container {
    height: calc(100vh - 100px);
   
}

.container h2 {
 
    color:var(--font-color-neon);
    animation: neon .08s ease-in-out infinite alternate;
}

.titulo {
  margin-top: 20px;
}

 


  @keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

@keyframes neon_fosco {
    from {
      box-shadow:
      0 0 6px var(--font-shadow-box_1),
      0 0 30px var(--font-shadow-box_2),
      0 0 12px var(--font-shadow-box_3),
      0 0 21px var(--font-shadow-box_4),
      0 0 34px var(--font-shadow-box_5),
      0 0 54px var(--font-shadow-box_6);
    }
    to {
      box-shadow:
      0 0 6px  var(--font-shadow-box_7),
      0 0 30px var(--font-shadow-box_8),
      0 0 12px var(--font-shadow-box_9),
      0 0 22px var(--font-shadow-box_10),
      0 0 38px var(--font-shadow-box_11),
      0 0 60px var(--font-shadow-box_12);
    }
  }

  #formulario2{

    /* border: solid red 2px; */
    background-color: #302AE6;
    
    }

#formulario {
  width: 50%;
  height: 65%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(226, 206, 21);
  border-radius: 6px;
  background-color:var(--bg-form);
  box-shadow: 0px 0px 1px var(--bg-shadow);
  animation: neon .08s ease-in-out infinite alternate;
  animation: neon_fosco .08s ease-in-out infinite alternate;
  color:var(--font-color);
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
  margin-top:15px;
  
}






#TextA{
    position: relative;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}



#TextArea {
    width: 100%;
    height: 180px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#botao{
    width: 100px;
    height: 50px;
    border-radius: 0.8rem;
    font: 500 15px Archivo;
    text-decoration: none;
    color: var(--font-color);
    background-color:var(--bg-button-color);
    transition: background 0.2s;
    margin: auto;
}

#botao:hover{
    color: #fff !important;
    background-color:var(--secondary-color);
}

form{
    text-align: center;
   
}
/* 
#formul22 {
  width: 50%;
  height: 65%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color:var(--bg-form);
  box-shadow: 0px 0px 1px var(--bg-shadow);
  animation: neon .08s ease-in-out infinite alternate;
  animation: neon_fosco .08s ease-in-out infinite alternate;
  color:var(--font-color);
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
  margin-top:15px;
  
} */

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&family=Open+Sans&family=Oswald&family=Teko:wght@300;400&display=swap');
