:root {
    --primary-color: #302AE6;
    --secondary-color:  #FCCE5D;
    --font-color: #000000;
    --bg-color: #fff;
    --bg-header-color:#03989E;
    
    --bg-form:#03989E;
    --bg-shadow:#fff;
    --font-color-neon: #151520;
    --bg-shadow:white;


    --font-shadow-box_1:white;
    --font-shadow-box_2:white;
    --font-shadow-box_3: white;
    --font-shadow-box_4: white;
    --font-shadow-box_5:white;
    --font-shadow-box_6: white;

    --font-shadow-box_7:white;
    --font-shadow-box_8:white;
    --font-shadow-box_9: white;
    --font-shadow-box_10: white;
    --font-shadow-box_11:white;
    --font-shadow-box_12: white;


   
}

#formAluno {

width: 50%;
  height: 65%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid rgb(226, 206, 21);
  border-radius: 6px;
  background-color: var(--bg-form);
  box-shadow: 0px 0px 1px var(--bg-shadow);
  animation: neon .08s ease-in-out infinite alternate;
  animation: neon_fosco .08s ease-in-out infinite alternate;
  color:var(--font-color);
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
  margin-top:15px;
}