/* Estilo da nova página Inicial */

article {

    margin-top: 10%;
    background-color: rgba(247, 212, 126, 0.9);
    border: solid 2px #03989E;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    margin: 100px 50px 0px 50px;
    padding: 10px;
    text-align: center;

}

article p {
    font-family: 'Montserrat' ,sans-serif;
    font-size: 14pt;
}

article h1 {
    font-family: 'Lexend Mega', sans-serif;
    font-weight: bolder;
}

article h4 {
    font-family: 'Lexend Mega' ,sans-serif;
}

article hr {
   border-bottom: solid 2px #03989E;
    width: 50%;
}

.how {
    font-family: 'Lexend Mega', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.flx-mom {
    align-content: center;
    align-items: center;
    background: #03989E;
    background: -moz-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: -webkit-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: linear-gradient(135deg, rgba(3, 152, 158, 0.8) 0%, rgba(28, 110, 164, 0.5) 45%, rgba(252, 206, 93, 0.8) 100%);
   /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
    
}

.flx-mom-2 {
    align-content: center;
    align-items: center;
    background: #03989E;
    background: -moz-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: -webkit-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: linear-gradient(135deg, rgba(3, 152, 158, 0.8) 0%, rgba(28, 110, 164, 0.5) 45%, rgba(252, 206, 93, 0.8) 100%);
   /* background-color: rgba(255, 255, 255, 0.2); */ 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    
}

.flx-mom-3 {
    align-content: center;
    align-items: center;
    background: #03989E;
    background: -moz-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: -webkit-linear-gradient(-45deg, #03989E 0%, #1C6EA4 45%, #FCCE5D 100%);
    background: linear-gradient(135deg, rgba(3, 152, 158, 0.8) 0%, rgba(28, 110, 164, 0.5) 45%, rgba(252, 206, 93, 0.8) 100%);
   /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 2% ;
    padding: 10px;
    
}

.flx-bby-1 img { 
   margin: 10px;
   width: 500px;
   
}


.flx-bby-2 {
    background-color: rgba(252, 206, 93, 0.9);
    border: double #03989E 4px;
    border-radius: 5px;    
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    line-height: 25px;
    margin: auto;
    padding: 20px;
    text-align: left;
    transition: ease-in-out 2s;
    width: 50%;
   
}

.flx-bby-2 a {
    color: midnightblue;
    text-decoration: none;
}
.flx-bby-2 a:hover{
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.5);

}
.flx-bby-2:hover {
    box-shadow: 5px 5px 15px 5px #7391f5;
    
}

.flx-bby-3 {

    background-color: rgba(252, 206, 93, 0.9);
    border: double #03989E 4px;
    border-radius: 5px;  
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    line-height: 25px;
    margin: auto;    
    padding: 20px;
    text-align: left;
    transition: ease-in-out 2s;
    width: 50%;
    
}

.flx-bby-3:hover {
    box-shadow: 5px 5px 15px 5px #7391f5;
    
}

.flx-bby-4 {
    background-color: rgba(252, 206, 93, 0.9);
    border: double #03989E 4px;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    line-height: 25px;
    margin: auto;    
    padding: 20px;
    text-align: left;
    transition: ease-in-out 2s;
    width: 50%;
  
}
.flx-bby-4 a {
    color: midnightblue;
    text-decoration: none;
}
.flx-bby-4 a:hover{
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.5);

}
.flx-bby-4:hover {
    box-shadow: 5px 5px 15px 5px #7391f5;
    
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700&display=swap');

@media only screen and (max-width: 600px) {
    .flx-bby-1 img {
        width: 300px;
        
        }
        .flx-bby-4 {
            width: fit-content;
            /*font-size: 10pt;*/
        }

        .flx-bby-3 {
            width: fit-content;
           
            /*font-size: 10pt;*/
        }
        .flx-bby-2 {
            width: fit-content;
            /*font-size: 10pt;*/
        }
  }