:root {
    --primary-color: #302AE6;
    --secondary-color: #FCCE5D;
    --font-color: #424242;
    --bg-color: #fff;
    --bg-header-color:#03989E;
   
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color:#1a1a1a;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    background-color:var(--bg-color);
}

header {

    height: 100px;
    background-color: var(--bg-header-color);

}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}

.logoimg {
   width: 120px;
    
    
}

.logo {
 width: 100px;

 
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

.menu ul, .menu li {

list-style: none;

}

.menu ul {
    display: flex;
}

.menu li a {

    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;

}

.menu li a:hover {

    border-bottom: 5px solid var(--secondary-color);
    
    }

    .menu-opener {
        display: none;
    }


    footer {
         background-color:#000; 
        text-align: center;
    
       
    }
  

    #follow {
        font-family: Raleway;
        width: 100vw;
        color: white;
        font-size: 15px;
    }
    
    .social {
        background-color: #477890;
        padding:10px;
    }
    
    .social img {
        width: 80px;
        transition: 0.3s;
      
    }
    
    .iconSocial:hover {
        width: 88px;
        transition: 0.3s;

    }

    
    .tema {
        position: fixed;
        width: 100px;
        height: 100px;
        right: 0px;
        top: 35px;
    }
    
    .theme-switch-wrapper {
        display: flex;
        align-items: center;
    }
    
    .ativado {
        margin-left: 10px;
        font-size: 1rem;
    }
    
    .theme-switch {
        display: inline-block;
        height: 34px;
        position: relative;
        width: 60px;
    }
    
    .theme-switch input {
        display: none;
    }
    
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
    }
    
    .slider:before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 26px;
        left: 4px;
        position: absolute;
        transition: .5s;
        width: 26px;
    }
    
    input:checked+.slider {
        background-color: #66bb6a;
    }
    
    input:checked+.slider:before {
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .space{
        padding: 30px;
    }
    
    /*fim*/

  