body {
   background-image: url(../img/bgdtech-01.png);
   background-attachment: fixed;   
   height: 500px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    
}   

.backg{
    background-color: #03989E;

}

.trick {
    border-bottom: solid 3px white;
}
.trick:hover {

    border-bottom: solid 4px #FCCE5D;
}

.drop {
    color:#03989E;
}

.drop:hover{
    background-color:#FCCE5D;
    color: white;
    font-weight: 700;
}

.title {
   background-color: #FCCE5D;
   border-radius: 5px;
   color: rgb(0, 0, 0);
   font-family: 'Lexend Mega', sans-serif;
   margin-bottom: 10px;
   padding: 10px;
   text-align: center;


}

.title hr {

    border-bottom: solid 2px white;
    width: 50%;
}

/*Estilo dos forms de cadastro */
.estiloDoador {

padding: 20px;
background-color: #03989E;
border: solid 2px #FCCE5D;
border-radius: 5px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.56);
color: white;
font-family: 'Montserrat', sans-serif;

margin-top: 10%;
margin-bottom: 5%;

}

.estiloEscola{

padding: 20px;
background-color: #03989E;
border: solid 2px #FCCE5D;
border-radius: 5px;
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.56);
color: white;
font-family: 'Montserrat', sans-serif;
margin-top:10%;
margin-bottom: 5%;
}
/* Fim dos forms de cadastro*/ 



@media only screen and (max-width: 750px) {

    .estiloDoador {
        margin-top: 120px;
    }

    .estiloEscola {
        margin-top: 120px;
    }
}