
/* form {border: 3px solid #f1f1f1;} */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

.modal-content {
  
  padding: 0px 50px 0px 50px;
}


button {
  background-color: #03989E;
  border: solid 2px #FCCE5D;
  border-radius: 4px;
  color: white;
  font-family: 'Arial', Helvetica, sans-serif;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  background-color: #FCCE5D ;
  border: solid 2px #03989E;
  color: black;
}

.esqueceubtn {
  
  margin: 4%;
  padding: 10px 18px;
  background-color: rgba(0,0,200,0.8);
}



.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
}

#contModal {
  padding: 16px;
  
}

.close{
    width: 100px;
    margin: auto;
    padding: 5px;
    align-items: center;
}
