:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --font-color: rgba(0, 0, 200, 0.6);
    --bg-color: #fff;
    --heading-color: #292922;
    --menu-bg: rgb(19, 19, 133);
    --menu-bg-color: white;
    --menu-hover-bg: rgba(000, 000, 88, 0.8);
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    text-align: center;
}


/*menu*/

.menu {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 1px;
    border: 0px;
    width: 100%;
    background-color: var(--menu-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu a.link {
    text-decoration: none;
    color: var(--menu-bg-color);
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    margin: 10px;
    border-radius: 5px;
}

.menu a.link:hover {
    transition: 0.5s;
    background-color: var(--menu-hover-bg);
    font-size: 20px;
    padding: 10px;
}

.logo {
    width: 100px;
    margin-top: 2px;
    margin-left: 0px;
    border-radius: 10px;
    align-self: center;
}

h1 {
    margin-top: 110px;
    background-color: lightseagreen;
    font-family: 'Lato', sans-serif;
}

h2 {
    background-color: azure;
    font-family: 'Lato', sans-serif;
}

footer {
    grid-area: footer;
    border-radius: 5px;
    bottom: 0px;
    width: 100%;
}


/*rodapé*/

#follow {
    font-family: Raleway;
    background-color: rgb(18, 18, 165);
    color: white;
}

.social {
    background-color: powderblue;
}

.social img {
    width: 80px;
}

.iconSocial:hover {
    width: 90px;
    transition: 0.5s;
}

.parceiros {
    background-color: blue;
    font-family: raleway;
    color: white;
}

.intro {
    height: 70vh;
}


/*fim do rodapé*/


/*Simple css to style it like a toggle switch*/

.tema {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 0px;
    top: 35px;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.ativado {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .5s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*fim*/