html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}

.container {
    margin-top: 100px;
    height: 120vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: lightblue;
}

.monitorando {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #F5F5F5;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#botao {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

#botao:hover {
    background-color: black;
    color: white;
}